*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

#cabecalho{
    height: 150px;
    background-color:rgb(190, 142, 235);
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

#menu{
    height: 500px;
    width: 300px;
    background-color:rgb(145, 131, 158);
    float: left;
    margin-left: 37px;
    margin-top: 10px;
}

#conteudo{
    height: 500px;
    width: 800px;
    background-color: rgb(236, 215, 255);
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}

#lado{
    height: 500px;
    width: 290px;
    background-color: rgb(145, 131, 158);
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    margin-block-end: 5px;
}

#rodape{
    height: 100px;
    background-color: rgb(198, 172, 223);
    clear: both;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
